 # Segmenting and Clustering Neighborhoods in Toronto - 1/3

## Download Data & Create DataFrame

In [2]:
import pandas as pd
tlist = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = tlist[0]
df.to_csv('toronto.csv', header=0,index=False)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df.loc[0,'Postcode']

'M1A'

In [4]:
df.groupby(['Borough']).size()['Not assigned']

77

In [5]:
df.groupby(['Neighbourhood']).size()['Not assigned']

78

In [6]:
a = 0
for p,q in enumerate(df.Postcode):
    if df.loc[p,'Borough'] == 'Not assigned':
        a = a +1 
    p+1
print(a)

77

## Drop 'NOT ASSIGNED' Borough cells

In [7]:
for i,x in enumerate(df.Postcode):
    if df.loc[i,'Borough'] == 'Not assigned':
        df = df.drop([i])
        i+1

In [8]:
# display
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [9]:
dft = df.reset_index(drop=True)
dft.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

## Combine rows that have same postcode and borough

In [10]:
def crows(df):
    return','.join(df.values)
    
dft = dft.groupby(['Postcode','Borough'])['Neighbourhood'].apply(crows)
dft = dft.reset_index()
dft.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

## Deal with 'NOT ASSIGNED' neighborhood

In [11]:
dft.groupby(['Neighbourhood']).size()['Not assigned']

1

In [12]:
for m,n in enumerate(dft.Postcode):
    if dft.loc[m,'Neighbourhood'] == 'Not assigned':
        dft.loc[m, 'Neighbourhood'] = dft.loc[m,'Borough']
    m+1
dft.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

In [13]:
dft.shape

(103, 3)

## Save the datafrome to .csv file

In [14]:
dft.to_csv("torontodata.csv", index = False)